.tools{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.toolBox{
    height: 0px;
}

.toolBoxActivator:checked + .toolBox{
    height: min-content;
}

form, .cssCode{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.cssCode, form {
    overflow-y: scroll;
}
